extends ./layout/index

block slider 
    .slider 
        h1 Rio de Janeiro 
        em Aventura

block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6 
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas libero elit, mollis id sem in, condimentum ultrices leo. Fusce sagittis quis purus nec vehicula. Morbi in maximus purus. Nam laoreet nisl eget neque eleifend, non commodo risus luctus. Nam id ligula eget sem feugiat bibendum vel sit amet sem. Ut feugiat, metus id dignissim bibendum, lorem metus maximus nisl, sit amet condimentum tortor nisi id nisl. Aliquam interdum sapien nec ligula sollicitudin porta. Sed in ligula eget arcu maximus aliquet at ut augue.

                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas libero elit, mollis id sem in, condimentum ultrices leo. Fusce sagittis quis purus nec vehicula. Morbi in maximus purus. Nam laoreet nisl eget neque eleifend, non commodo risus luctus.
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="Nosotros", class="img-fluid")
        include ./layout/bloque_viajes.pug
    .descuento 
        .container 
            .row
                .col-md-6
                    .contenido 
                        h3 5% de Descuento 
                        p.titulo Viaje a Canada 
                        p.fecha 20 de Marzo de 2022 - 28 de Marzo de 2022
                        p.precio 2.500€

    .container 
        h2.mt-5.text-center Testimoniales
            include ./layout/bloque_testimoniales