extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="Imagen nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet massa et nunc rutrum egestas. Nullam aliquam, magna ac tincidunt dignissim, mauris augue suscipit ante, pretium laoreet tortor arcu a lacus. Etiam vel placerat turpis, a tincidunt felis. Ut facilisis dui nulla, sed venenatis ex pulvinar eget. Pellentesque magna mi, suscipit ut mollis eu, iaculis rhoncus urna. Nam elementum auctor orci, et suscipit mi laoreet sed. Praesent et mi at enim faucibus imperdiet ut eu neque. Nullam rutrum vitae est ut auctor. Nulla nulla erat, facilisis vel orci ac, tempus pellentesque nibh. Cras finibus nisi vitae dui blandit, at consequat enim dictum. Vestibulum fermentum diam sapien, ac egestas risus ultricies vitae. Fusce at metus ex. Nulla semper cursus tellus, sed dignissim sapien. Cras auctor nibh eget tortor placerat, a consequat purus consectetur.

                p Nulla id mollis tortor, vitae molestie augue. Donec aliquam vulputate dolor. Proin tincidunt neque quis rutrum commodo. Vivamus at tincidunt tellus, quis scelerisque libero. Proin sit amet volutpat tellus. Ut elementum vel diam et suscipit. In non condimentum magna. Vestibulum leo nisl, commodo cursus commodo ut, sodales quis justo. Maecenas convallis turpis sit amet erat pretium blandit.

                p Donec nec mattis augue. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras tempus nulla dui, in fermentum nisi ullamcorper non. Aenean faucibus augue ut massa vestibulum, id vestibulum arcu tincidunt. Sed et congue dui, vel mollis eros. Curabitur non lectus sem. Donec consequat odio at molestie ornare. Curabitur porta mauris quis tellus porttitor, ac imperdiet lacus condimentum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 

    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="Seguridad")
                    h2.mb-4 Seguridad
                    p Pellentesque magna mi, suscipit ut mollis eu, iaculis rhoncus urna. Nam elementum auctor orci, et suscipit mi laoreet sed. Praesent et mi at enim faucibus imperdiet ut eu neque. Nullam rutrum vitae est ut auctor. Nulla nulla erat, facilisis vel orci ac, tempus pellentesque nibh.
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="Destinos")
                    h2.mb-4 Destinos
                    p Pellentesque magna mi, suscipit ut mollis eu, iaculis rhoncus urna. Nam elementum auctor orci, et suscipit mi laoreet sed. Praesent et mi at enim faucibus imperdiet ut eu neque. Nullam rutrum vitae est ut auctor. Nulla nulla erat, facilisis vel orci ac, tempus pellentesque nibh.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="Precios")
                    h2.mb-4 Precios 
                    p Pellentesque magna mi, suscipit ut mollis eu, iaculis rhoncus urna. Nam elementum auctor orci, et suscipit mi laoreet sed. Praesent et mi at enim faucibus imperdiet ut eu neque. Nullam rutrum vitae est ut auctor. Nulla nulla erat, facilisis vel orci ac, tempus pellentesque nibh.
                                